.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberCount {
  margin-right: 20px;
}

.buttonCount {
  cursor: pointer;
  font-size: medium;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #18a2c7;
  border-color: #18a2c7;
}
